.photowall-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photowall-wrapper p {
  font-family: var(--general-font-family);
  font-size: var(--first-header-size);
  color: var(--header-text-color);
  font-weight: bold;
}

.photowall-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  width: 80%;
}

.photowall-image {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 0.75rem;
  border: 2px solid white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.photowall-image:hover {
  transform: scale(1.05) rotate(0deg);
  z-index: 10;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .photowall-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .photowall-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
