.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.video-category {
  font-size: var(--first-header-size);
  font-family: var(--general-font-family);
  color: var(--header-text-color);
}
